# Bootconfig
CONFIG_BOOT_CONFIG=y

# DMABUF
CONFIG_DMABUF_HEAPS_SYSTEM=y

# EROFS
CONFIG_EROFS_FS=y

# F2FS
CONFIG_F2FS_FS=y
CONFIG_F2FS_FS_POSIX_ACL=y

# Ramdisk
CONFIG_RD_GZIP=y
CONFIG_RD_LZ4=y
CONFIG_RD_XZ=y

# Security
## Default of CONFIG_LSM when CONFIG_DEFAULT_SECURITY_SELINUX == y (required for Android to boot)
CONFIG_LSM="landlock,lockdown,yama,loadpin,safesetid,selinux,smack,tomoyo,apparmor,ipe,bpf"

# ZRAM
CONFIG_ZRAM=y
CONFIG_ZRAM_BACKEND_LZ4=y
CONFIG_ZRAM_BACKEND_ZSTD=y
CONFIG_ZRAM_BACKEND_LZO=y
CONFIG_ZRAM_WRITEBACK=y
CONFIG_ZRAM_MULTI_COMP=y
