# Android
CONFIG_ASHMEM_RUST=y

# Bootconfig
CONFIG_BOOT_CONFIG=y

# Control Group
CONFIG_CGROUPS=y
CONFIG_MEMCG=y
CONFIG_MEMCG_V1=y
CONFIG_BLK_CGROUP=y
CONFIG_CGROUP_SCHED=y
CONFIG_CFS_BANDWIDTH=y
CONFIG_UCLAMP_TASK_GROUP=y
CONFIG_CGROUP_FREEZER=y
CONFIG_CPUSETS=y
CONFIG_CPUSETS_V1=y
CONFIG_CGROUP_CPUACCT=y
CONFIG_CGROUP_BPF=y

# Debug
CONFIG_DEBUG_INFO_BTF=y

# Device mapper
CONFIG_BLK_DEV_DM=y
CONFIG_DM_CRYPT=y
CONFIG_DM_SNAPSHOT=y
CONFIG_DM_UEVENT=y
CONFIG_DM_VERITY=y
CONFIG_DM_VERITY_FEC=y

# DMABUF
CONFIG_DMABUF_HEAPS=y
CONFIG_DMABUF_HEAPS_SYSTEM=y

# EROFS
CONFIG_EROFS_FS=y

# F2FS
CONFIG_F2FS_FS=y
CONFIG_F2FS_FS_POSIX_ACL=y

# Firmware
CONFIG_FW_LOADER_USER_HELPER=y

# Input
CONFIG_INPUT_UINPUT=y

# Kernel modules
# CONFIG_MODULE_COMPRESS is not set

# Loop
CONFIG_BLK_DEV_LOOP_MIN_COUNT=16

# Memory management
CONFIG_MEMFD_ASHMEM_SHIM=y

# Network devices
CONFIG_TUN=y

# Ramdisk
CONFIG_RD_GZIP=y
CONFIG_RD_LZ4=y
CONFIG_RD_XZ=y

# Security
## Default of CONFIG_LSM when CONFIG_DEFAULT_SECURITY_SELINUX == y (required for Android to boot)
CONFIG_LSM="landlock,lockdown,yama,loadpin,safesetid,selinux,smack,tomoyo,apparmor,ipe,bpf"

# USB ConfigFS
CONFIG_USB_CONFIGFS=y
CONFIG_ANDROID_USB_CONFIGFS_UEVENT=y
CONFIG_USB_CONFIGFS_SERIAL=y
CONFIG_USB_CONFIGFS_ACM=y
CONFIG_USB_CONFIGFS_NCM=y
CONFIG_USB_CONFIGFS_ECM=y
CONFIG_USB_CONFIGFS_EEM=y
CONFIG_USB_CONFIGFS_MASS_STORAGE=y
CONFIG_USB_CONFIGFS_F_FS=y
CONFIG_USB_CONFIGFS_F_UAC2=y
CONFIG_USB_CONFIGFS_F_MIDI=y
CONFIG_USB_CONFIGFS_F_HID=y
CONFIG_USB_CONFIGFS_F_UVC=y

# Virtual Socket
CONFIG_VSOCKETS=y
CONFIG_VHOST_VSOCK=y

# ZRAM
CONFIG_ZRAM=y
CONFIG_ZRAM_BACKEND_LZ4=y
CONFIG_ZRAM_BACKEND_ZSTD=y
CONFIG_ZRAM_BACKEND_LZO=y
CONFIG_ZRAM_WRITEBACK=y
CONFIG_ZRAM_MULTI_COMP=y
