# Options that are still missing:
# - CONFIG_CPU_FREQ_TIMES
# - CONFIG_DM_DEFAULT_KEY
# - CONFIG_NETFILTER_XT_MATCH_QUOTA2
# - CONFIG_NETFILTER_XT_MATCH_QUOTA2_LOG
# - CONFIG_NF_CT_PROTO_DCCP (Deprecated)
# - CONFIG_SCHED_DEBUG (Deprecated)
# - CONFIG_UID_SYS_STATS

# Dependency of CONFIG_HID_PLAYSTATION == y
CONFIG_LEDS_CLASS_MULTICOLOR=y

# Dependency of CONFIG_IFB == y
CONFIG_NET_ACT_MIRRED=y

# Dependency of CONFIG_INET_DIAG_DESTROY & CONFIG_INET_UDP_DIAG == y
CONFIG_INET_DIAG=y
